.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    color: white;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-top: 107px;
    margin-bottom: 27px;
}